/* =============================================
DAKSA DESIGN REPO - SUPPORTS - TYPEFACES
============================================= */

/* Reminder: http://bit.ly/2cTls5k */

/* PF Handbook Family */
@font-face {
	font-family: 'PFHandbookPro-ExtraThin';
	src: url('../fonts/PFHandbookPro-ExtraThin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFHandbookPro-Bold';
	src: url('../fonts/PFHandbookPro-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFHandbookPro-Regular';
	src: url('../fonts/PFHandbookPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Monaco Family */
@font-face {
	font-family: 'Monaco';
	src: url('../fonts/Monaco.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Checkpoint */
@font-face {
	font-family: 'Checkpoint-Light';
	src: url('../fonts/Checkpoint-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Robusto */
@font-face {
	font-family: 'Robusto-Bold';
	src: url('../fonts/Robusto-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Orion Pro */
@font-face {
    font-family: 'OrionSans';
    src: url('../fonts/OrionSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






